.cta {
	background: $brand;

		h1 {
			text-align: center;
			font-family: $sans;
			color: white;
			font-size: 32px;
			margin-top: 80px;
		}
		.button-wrap {
			text-align: center;
		}
		.white-button {
			margin-bottom: 80px;
			margin-top: 20px;
		}
}