$sans: "franklin-gothic-urw","franklingothic urw" "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: 'Lora', serif;

$text: #37474F;
$light-text: #887F7F;

$me: #64938b;

$select: #e4e5ec;
$brand: #20D09E;

$font-size: 20px;
$line-height: 1.5;

$break: 600px;

$full-width: 900px;

$width: 1120px;

